@import url(./Card/card.css);
@import url(./Footer/Footer.css);
:root {
    // bg color for body bg.
    --bodyColor: #dce5f3;
    //btn colors
    --btnColor: #fd9b4e;
    //price text color
    --priceColor: #f93539;
}

section {
    padding: 2em 5em;
    padding-top: 4em;
    height: auto;
    width: 100%;
}

// font heading size
.heading {
    font-weight: 300;
    font-size: 35px;
}

