@media only screen and (max-width: 800px) {
    .user-acc {
        padding: 5em 4em;
        .container {
            .img-container {
                width: 30%;
            }

            .img-picker {
                .btn {
                    width: 36%;
                }
            }
            form{
                input[type="submit"] {
                    width: 50%;
                }
            }

            .user-details {
       
                .left,
                .right {
                    width: 45%;
          
                }

             
            }
        }
    }
}



@media only screen and (max-width: 480px) {
    .user-acc {
        padding: 5em 2em;
        .container {
            .img-container {
                width: 40%;
            }

            .img-picker {
                .btn {
                    width: 36%;
                }
            }
            form{
                input[type="submit"] {
                    width: 50%;
                }
            }

            .user-details {
                flex-direction: column;
                .left,
                .right {
                    width: 100%;
                    margin: 0;
                }

                .right {
                    margin-top: 1em;
                }
            }
        }
    }
}
