:root {
    --subMenu: #242a3a;
    --profileBG: #00e6ff;
    --blue: #0091dc;
    --btnColor: #fd9b4e;
}
.orders .info .bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
    form{
        input[type='number']{
            padding: 5px 1em;
            border-radius: 5em;
            border:  1px solid black;
            outline-color: #fd9b4e;
        }

        input[type='submit']{
            background-color: var(--blue);
            border: none;
            border-radius: 5em;
            color: white;
            padding: 8px 1em;
        }
    }

    .reject{
        background-color: red;
    }

    .btns{
        display: flex;

       

    }

    

    .float-card .container .info .content{
        margin-left: 0;
    }

 
}